.map-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:auto;
    margin-top:50px;
    padding:0,50px;
  }
  #mapview{
    padding: 50px;
    margin: auto;
    height: 500px;
  
    
  }
  h3{
      text-align: center;
      font-family: Montserrat;
  }